*{ box-sizing: border-box; }

body{
	background-color: #ddd;
	text-align: center;
}

.headerContainer {
	background-color: #bbb;
	padding-top: 15px;
	height: 100%;
	.header{
		margin: 0 auto;

	}
	.description {
		margin-top: .2em;
		margin-bottom: .7em;
		font-size: 12px;
	}

}

.mainContainer{
	display: flex;
	flex-wrap: no-wrap;
	justify-content: space-between;
	align-items: stretch;
	.playerStatsContainer{
		border: 1px solid black;
		width: 20%;
	}
	.gameContainer {
		border: 1px solid black;
		width: 80%;
	}
}

.gameContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	.visableArea {
		width:400px;
		height: 300px;
		border: 1px solid black;
		overflow: hidden;
		position: relative;
		background-color: #136414;
		
		.gridContainer {
			z-index: 100;
			position: absolute;
			width: 800px;
			height: 800px;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: flex-start;
			.player {

			}
			.block{
				width: 20px;
				height: 20px;
				border: 1px solid black;
			}
		}
	}
}

.gridContainer {
	.floor {
		background-image: url('./images/grass.png');
	}
	.player {
		background-image: url('./images/dog.png');
	}
	.wall {
		background-image: url('./images/wall.png');
	}
	.enemy {
		background-image: url('./images/cat.png');
	}
	.health {
		background-image: url('./images/treat.png');
	}
	.weapon {
		background-image: url('./images/tennisBall.png');
	}
	.hole {
		background-image: url('./images/hole.png');
	}
}



// .gameContainer {
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	.visableArea {
// 		width:60%;
// 		height: 20em;
// 		border: 1px solid black;
// 		overflow: scroll;
// 		#myCanvas{
// 			background-color: white;
// 			padding: 0;
// 			top: -200px;
// 			left: -200px;
// 		}
// 	}
// }





.footerContainer {
	background-color: #bbb;
	font-size: 14px;
}

